<!-- Nav tabs -->
<ul id="mainTabs" class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
        <a class="nav-link active" href="#type" role="tab" data-toggle="tab" data-sm-hash="#/type/list">Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#measureUnit" role="tab" data-toggle="tab" data-sm-hash="#/measureunit/list">Measure
            Units</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#product" role="tab" data-toggle="tab" data-sm-hash="#/product/list">Products</a>
    </li>
</ul>

<script type="application/javascript">

    $('#mainTabs').find('a[data-toggle="tab"]').on('shown.bs.tab',
            function (e)
            {
                smRouter.updateHash($(e.target).data("sm-hash"));

//                e.target // newly activated tab
//                e.relatedTarget // previous active tab
            })
</script>